{% extends 'base.html.twig' %}

{% block title %}FeesValue{% endblock %}

{% block body %}
    <h1>FeesValue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fees_value.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ fees_value.amount }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ fees_value.createdAt ? fees_value.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ fees_value.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fees_value_index') }}">back to list</a>

    <a href="{{ path('fees_value_edit', {'id': fees_value.id}) }}">edit</a>

    {{ include('fees_value/_delete_form.html.twig') }}
{% endblock %}
